@model IEnumerable<JobPortal.DBContext.OfferEntity>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Recently Added Jobs</span>
                <h2 class="mb-4"><span>Recent</span> Jobs</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12 ftco-animate">
                    <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
                        <div class="mb-4 mb-md-0 mr-5">
                            <div class="job-post-item-header d-flex align-items-center">
                                <h2 class="mr-3 text-black h3">@Html.DisplayFor(modelItem => item.Title)</h2>
                                <div class="badge-wrap">
                                    <span class="bg-primary text-white badge py-2 px-3">@Html.DisplayFor(modelItem => item.Company)</span>
                                </div>
                            </div>
                            <div class="job-post-item-body d-block d-md-flex">
                                <div><span class="icon-my_location"></span> <span>Casablanca</span></div>
                            </div>
                        </div>
                        <div class="ml-auto d-flex">
                            <a asp-action="ListCandidates" asp-route-id="@item.Id" class="btn btn-primary py-2 mr-1">Show Candidates</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
